OPENAI_API_KEY=

# Set to 1 if @todo should be pushed to Google Tasks when --execute-commands runs.
GOOGLE_TODO_SYNC=1
GOOGLE_TASKS_CREDENTIALS=credentials.json
GOOGLE_TASKS_TOKEN=token_google_tasks.json
GOOGLE_TASKS_LIST_ID=@default
